// TODO
.containerHeader {
  max-width: 1120px;
  height: 6.56rem;
  display: flex;
  align-items: center;
  

  .contentHeader {
    width: 700px;
    margin: 0 auto;

    img {
      cursor: pointer;
    }
  }
  

}

@media(max-width: 768px) {
  .containerHeader {
    height: 3.56rem;

    .contentHeader {
      display: flex;
      justify-content: center;
  
      img {
        width: 12rem;
      }
  
    }
  }


}
